/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
app/SymfonyRequirements.php
app/check.php
web/config.phpcd web
composer.lock
.phpintel/
/.idea/*

/src/AppBundle/Entity/*.*~
web/images/avatars/*

web/log.txt
