<div class="s12 bloc_defi">
	<div class="col s12 m2">
		<div class="badge_user">
			<img class="media-object dp circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg">
		</div>
	</div>
	<div class="col s12 m5">
		<h2>Objectif 30 kilomètres !</h2>
		<span class="hide-on-small-only">	Je vous défie de courir au moins 30km cette semaine !</span>
	</div>
	<div class="col hide-on-small-only m3">
		<p>Du 1er Janv. 2016</p>
		<p>Au 15 Janv. 2016</p>
	</div>
	<div class="col s12 m2 go_defi">
		<img src="{{asset('bundles/AppBundle/img/epee.png')}}"/>
		<span>1503 part.</span>
	</div>
</div>