<footer>
	<div class="container">
		<div class="row">
			<div class="col s4">
				© 2016 Copyright - Ukandoit.fr
			</div>
			<div class="col s4 logos_sociaux">
				<a href="https://www.facebook.com/ukandoitapp">
					<img src="{{asset('bundles/AppBundle/img/fb.png')}}"/>				
				</a>
				<a href="https://twitter.com/ukando_it">
					<img src="{{asset('bundles/AppBundle/img/tw.png')}}"/>					
				</a>
			</div>
			<div class="col s4 logos_sociaux">
				<a href="{{ path('legals') }}">Mentions Légales</a>
				<img src="{{asset('bundles/AppBundle/img/Logo-iut-white.png')}}"/>					
			</div>
		</div>
	</div>
</footer>