<div class="header">
	<div class="menu">
		<div class="row">
			<ul class="tabs">
				<li class="tab col m2"><a href="#">Accueil</a></li>
				<li class="tab col m2"><a href="#">Les Défis</a></li>
				<li class="tab col m2"><a href="#">A Propos</a></li>
				<li class="tab col m2"><a href="#">Contact</a></li>
				<li class="tab col m2 disabled"><a href="#"></a></li>
				<li style="width: 160px !important;" class="tab col m2"><a href="#">Se Connecter</a></li>
				<li class="tab col m2"><a href="#">S'inscrire</a></li>
			</ul>
		</div>
	</div>
	<div class="underHeader">
		<div class="logo">
			<img src="{{asset('bundles/AppBundle/img/logo_definitif.svg')}}"/>
		</div>
	</div>
	<div class="imgHeader">
		<div class="contentHeader">
		</div>
	</div>
</div>