<div class="header">
	<div class="menu">
		<div class="row">
			<ul class="tabs">
				<li class="tab col m2"><a href="#">Accueil</a></li>
				<li class="tab col m2"><a href="#">Les Défis</a></li>
				<li class="tab col m2"><a href="#">A Propos</a></li>
				<li class="tab col m2"><a href="#">Contact</a></li>
				<li class="tab col m2 disabled"><a href="#"></a></li>
				<li class="tab col m2"><a href="#">S'inscrire</a></li>
				<li class="col m2 logInButton"><a href="#">Connexion</a></li>
			</ul>
		</div>
	</div>
	<div class="underHeader">
		<div class="logo">
			<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/logo_definitif.svg')}}"/>
		</div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax">
		<img src="{{asset('bundles/AppBundle/img/accueil.jpg')}}"/>
	</div>
	<div class="blockHeader">
		<br>
		<p><i class="medium material-icons">language</i></p>
		<p>Défiez la communauté afin de progresser sur le podium de Ukando'it en remportant les challenges proposés par les utilisateurs.</p>
		<p><span>Inscription Gratuite</span><br>
	<i class="small material-icons">play_for_work</i>
	<div id="inscription-button">
		<span>S'inscrire</span>
	</div>
	</p>
</div>
</div>