<ul>
	{% if app.user %}
		<li>
			<a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
		</li>
		 <li>
			 <a href="{{ path('new_object') }}">Ajouter un objet connecté</a> 
		</li>
	{% else %}
		<li>
			<a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
		</li>
		<li>
			<a href="{{ path('fos_user_security_login') }}">Se connecter</a>
		</li>
	{% endif %}
</ul>