<div class="underlineTopCircle"></div>
<div class="topCircle arrow underlined bg-white">
<img alt="Fleche vers le bas" class="animated bounceInDown" src="{{asset('bundles/AppBundle/img/arrow_down.png')}}">
</div>