body {
   background-color: @layout;
}

.blockHeader h1 {
   font-size: 2em ;
   font-weight: bold;
}

h2 {
   font-size: 1.2em !important;
}

/* ------- HEADER -------- */

.header {
   width: 100%;
   background-color: @white;
   z-index: 11;
   height: 50px;
   position: fixed;
}

.underHeader {
   position: absolute; //use to be absolute
   margin:auto;
   width: 800px;
   height : 150px;
   top: -35px  ; // use to be -85px
   background-color: @white;
   -webkit-border-radius: e("950px / 180px");
   -moz-border-radius: e("950px / 180px");
   border-radius: e("950px / 180px");
   z-index: 10;
   //Test
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
}

.parallax-container.large {
   height: 700px;
}

.parallax img {
   left: 49.99%;
   top: -50%;
}

.parallax.small img {
   left: 49.99%;
   top: -110%;
}

.header_img {
   img {
      width: 100%;
   }
}

.logo img {
   width: 230px ;
   position: relative;
   top : 98px;
   left: 270px;
}

.menu {
   position: relative;
   margin: auto;
   width: 700px;
   height : 50px;
   z-index: 15;
   border-bottom: 1px solid @rouge_vif;
   a
   {
      color: @gris_fonce !important;
   }
}

.tabs .indicator {
   background-color: @gris_fonce !important;
   bottom: 10px !important;
   height: 1px;
}

.logInButton {
   background-repeat: no-repeat;
   background-color: @rouge_vif;
   border-radius: 100px;
   line-height: 29px;
   margin: 9px;
   letter-spacing: .8px;
   a
   {
      color: @gris_clair !important;
   }

}

.tabs .tab {
   text-transform: lowercase !important;
   a:first-letter {
      text-transform: uppercase;
   }
}

.blockHeader {
   width : 50%;
   height: 400px;
   margin-top: 180px;
   margin-right: auto;
   margin-left: auto;
   background-color: rgba(255, 255, 255, 0.6);
   box-shadow: 0 0px 5px #4e4e4e;
   text-align: center;
   color: @gris_fonce;
   font-family: 'montserratregular';
   span
   {
      font-weight: bold;
      color: @black;
   }
}

#inscription-button {
   margin-top: -15px;
   border-radius: 100px;
   line-height: 29px;
   margin: 9px;
   border: solid 2px;
   border-color: black;
   width: 150px;
   margin: auto;
   background-color: @black;
   &:hover  {
      color: @layout;
      background-size: 150px;
   }
   span {
      line-height:36px;
      font-size: 18px;
      color : @white;
   }

}

.indicator {

   &.accueil{
      right: 595px;
      left: 14px;
   }

   &.lesdefis{
      right: 496px;
      left: 104px;
   }

   &.apropos{
      right: 400px;
      left: 200px;
   }

   &.contact{
      right: 308px;
      left: 301px;
   }

   &.sinscrire{
      right: 124px;
      left: 469px;
   }
}

.indicator-connected {
   background-color: #282828;
   position: absolute;
   bottom: 10px;
   height: 1px;
   will-change: left, right;

   &.accueil{
      right: 595px;
      left: 14px;
   }

   &.lesdefis{
      right: 492px;
      left: 107px;
   }

   &.apropos{
      right: 396px;
      left: 203px;
   }

   &.contact{
      right: 302px;
      left: 306px;
   }
}

.menu_logo{
   width : 50px;
   height: 48px;
}

.logOutButton {
   min-width: 0px !important;
   i {
      margin-top: 12px;
   }
}

.tabs {
   overflow-x: visible;
   overflow-y: visible;
}

.dropdown-content li > a, .dropdown-content li > span {
   padding: 10px !important;
}

span.caret {
   top: 0px !important;
}

.select_menu_tab input{
   border-width: medium medium 0px !important;
}

/* --------- RESPONSIVE MENU --------- */

.responsive-menu {
   display: none;
   margin-top: 5px;
}

.responsive-logo img {
   width: 230px;
}

.no-materialize {
   box-shadow: none;
   line-height: normal;
}

/* --------- ROND --------- */

.underlineTopCircle {
   border-bottom: 2px solid black;
   margin: 5px auto 20px;
   width: 160px;
}

.bg-white {
   background-color: white;
}

.topCircle {
   border-radius: 65px 65px 65px 65px;
   box-shadow: 0px -6px 4px -3px rgba(0, 0, 0, 1);
   height: 65px;
   margin: -25px auto auto;
   text-align: center;
   width: 65px;
   background-color: @layout;
   &.underlined {
      margin-top: -45px;
   }
   &.arrow > img {
      height: 25px;
      margin-top: 17px;
      width: 40px;
   }
}

.topCircle > img {
   height: 50px;
   width: 50px;
}

/* TOP 3 */

.classement {

}

.defiez a{
   color: @rouge_mat !important;
   font-weight: bold;
}


