body
{
  background-color: @layout;
}

/* ------- HEADER -------- */

.header
{
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 11;
  //Test
  position: relative;
}

.underHeader
{
  position: absolute; //use to be absolute
  margin:auto;
  width: 800px;
  height : 150px;
  top: -35px  ; // use to be -85px
  background-color: white;
  -webkit-border-radius: e("950px / 180px");
  -moz-border-radius: e("950px / 180px");
  border-radius: e("950px / 180px");
  z-index: 10;
  //Test
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.parallax-container {
  height: 700px;
}

.parallax img {
  left: 49.99%;
}

.header_img {
  img {
    width: 100%;
  }
}

// .imgHeader {
//   position: absolute; //use to be absolute
//   width: 100%;
//   min-height: 1073px;
//   margin-top: -150px;
//   background-image: url("../img/accueil.jpg");
//   background-size: 1920px 1080px;
//   background-repeat: no-repeat;
//   background-position: center;
//   z-index: 5;
// }

.logo img
{
  width: 230px ;
  position: relative;
  top : 98px;
  left: 270px;
}

.menu
{
  position: relative;
  margin: auto;
  width: 700px;
  height : 50px;
  z-index: 15;
  border-bottom: 1px solid @rouge_vif;
}

.menu a
{
  color: @gris_fonce !important;
}

.tabs .indicator {
  background-color: @gris_fonce !important;
  bottom: 10px !important;
}

.logInButton a
{
  color: @gris_clair !important;
}

.logInButton
{
  background-image: url("../img/btn-rouge.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  opacity: 0.75;
  line-height: 48px;
  letter-spacing: 0.8px;
}

.tabs .tab {
  text-transform: lowercase !important;
}

.tabs .tab a:first-letter {
    text-transform: uppercase;
}

