/* Desktop */
@media (min-width: 992px) {}

/* Tablette */
@media (max-width: 992px) {
}

/* Fin Header */
@media (max-width: 800px) {
.underHeader
{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
}

/* Smartphone */
@media (max-width: 600px) {


}

/* Landscape phones and down */
@media (max-width: 480px) {



}