@import "_header.less";
@import "_footer.less";
@import "_mixins.less";
@import "_theme.less";


html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: @layout;
	font-weight: 400;
	margin-bottom: 150px;

	a {
		color: @white;
		&:hover {
			color: @rouge_mat;
			text-decoration: none;

		}
	}

}

