@import "_animate.less";

//Include
@import "_header.less";
@import "_footer.less";

//Pages
@import "_home.less";
@import "_apropos.less";

//Theme
@import "_responsive.less";
@import "_mixins.less";
@import "_theme.less";

//Overlay Menu
@import "_overlay.less";


html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: @layout;
	font-weight: 400;
	margin-bottom: 150px;

	a {
		color: @white;
		&:hover {
			color: @rouge_mat;
			text-decoration: none;
		}
	}

}


// Eléments généraux
.titre_page {
	position: relative;
	padding-bottom: 80px;
	.bloc_titre {
		background-color: @gris_fonce;
		width: 270px;
		height: 50px;
		margin: auto;
		position: absolute;
		z-index: 1;
		top: 0px;
		text-align: center;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		.align-vertical();
		h1 {
			color: @white;
			text-align: center;
			font-size: 1.5em;
			margin: auto;
		}
	}
	.bloc_rouge {
		height: 20px;
		width: 290px;
		margin: auto;
		position: relative;
		z-index: 0;
		top: 15px;
		background-color: @rouge_vif;
	}
}

.badge_user {
	.align-vertical();

	.dp
	{
		border:5px solid #eee;
		transition: all 0.2s ease-in-out;
		width: 85px;
		height: 85px;
		&:hover {
			border:2px solid #eee;
			transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			-webkit-transform:rotate(360deg);
			/*-webkit-font-smoothing:antialiased;*/
		}
	}
}



// Forms

.btn_centre {
	input, button {
	margin: auto;
}
}


.bande_rouge {
	height: 50px;
	background-color: @rouge_vif;
	color: @white;
	padding-left: 25px;
	.align-vertical();

	
}

.bande_rouge  + .card-panel{margin-top: 0;}


.input-field {
	label {
		color: @rouge_vif;
	}
	input[type=text] {
		&:focus+label {
			color: @rouge_vif;
		}
		&:focus {
			border-bottom: 1px solid @rouge_vif;
			box-shadow: 0 1px 0 0 @rouge_vif;
		}
	}
	input[type=text].valid {
		border-bottom: 1px solid @rouge_vif;
		box-shadow: 0 1px 0 0 @rouge_vif;
	}
	input[type=text].invalid {
		border-bottom: 1px solid @rouge_vif;
		box-shadow: 0 1px 0 0 @rouge_vif;
	}
    input[type=password].valid {
		border-bottom: 1px solid @rouge_vif;
		box-shadow: 0 1px 0 0 @rouge_vif;
	}
	.prefix.active {
		color: @rouge_vif;
	}
}

