<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ukando'it{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets  filter='cssrewrite'
        'bundles/AppBundle/materialize/css/materialize.min.css'
        'bundles/AppBundle/css/*'
         %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% javascripts
            'bundles/AppBundle/js/*'
            'bundles/AppBundle/materialize/js/materialize.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        {% include 'include/_header.html.twig' %}
        {% include 'include/_menu.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'include/_footer.html.twig' %}

    </body>
</html>
