{% extends "::base.html.twig" %}

{% block body %}
    {% include 'include/_croppable_image_modal.html.twig' with {'include_jquery': false,'include_bootstrap': false} %}

<div class="container">
	{% block fos_user_content %}
		{% include "UserBundle:Profile:collection.html.twig" %}
		{% include "UserBundle:Profile:edit_content.html.twig" %}
	{% endblock fos_user_content %}
</div>
{% endblock %}