<section class="titre_page">
        <div class="row">
            <div class="bloc_rouge"></div>
            <div class="bloc_titre">
                <h1>Mes défis proposés</h1>
            </div>
        </div>
    </section>
    <section class="defis">
        <div class="row">
            {% for challenge in challenges %}
                {% include 'include/_defis.html.twig' with {'challenge': challenge} %}
            {% endfor %}
        </div>
    </section>    <section class="titre_page">
        <div class="row">
            <div class="bloc_rouge"></div>
            <div class="bloc_titre">
                <h1>Mes défis relevés</h1>
            </div>
        </div>
    </section>
    <section class="defis">
        <div class="row">
            {% for challenge in challengesAccepted %}
                {% include 'include/_defis.html.twig' with {'challenge': challenge.challenge} %}
            {% endfor %}
        </div>
    </section>