{% block subject %}
{% autoescape false %}
{{ "Confirmation d'inscription"|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Vous venez de vous inscrire à Ukando'it. Afin de confirmer cette inscription, veuillez cliquer sur le lien suivant qui vous redirigera vers la page de confirmation : 
{% endautoescape %}
{% endblock %}
{% block body_html %}
{% autoescape false %}
<a href="{{ path('fos_user_registration_confirm', {"token": user.getConfirmationToken}) }}">Confirmer</a>
{% endautoescape %}
{% endblock %}
