<p>Bonjour {{ user.username }} !</p>

<p>Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien suivant : <a href="https://ukandoit.fr{{ path('fos_user_resetting_reset', {'token': user.confirmationToken}) }}">réinitialiser mon mot de passe</a></p>

<p>ou à l'url : https://ukandoit.fr{{ path('fos_user_resetting_reset', {'token': user.confirmationToken}) }}</p>

<p>Ukando'it</p>