{% extends "::base.html.twig" %}
{% block body %}
	<div class="container apropos">
		<div class="row titre_page">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>A propos</h1>
			</div>
		</div>
		<section class="presentation">
			<div class="row">
				<div class="col s12">
					<h2>Qu’est-ce que Ukando’it.fr ?</h2>
					<p>Aujourd’hui, les montres connectées sont en pleine expansion. Ce marché prend toujours plus d’ampleur et les ventes d’objets connectés mesurant les activités quotidiennes se multiplient.</p>
					<p>En effet leurs divers capteurs permettent de récolter des données exploitables sur l’activité de l’utilisateur : le nombre de pas, de calories, les pulsations cardiaque, le sommeil…</p>
					<p>Le but de notre application web est d’exploiter ces données et de leur donner une forme ludique : des défis connectés.
						Ukando’it est, dans un premier temps,  disponible pour tous les utilisateurs équipés des appareils suivants : <a href="http://www.withings.com/eu/fr/">withings</a>, <a href="https://jawbone.com/">jawbone</a>.
					</p>
					<p>L’objectif est de créer un système de défis sportifs opposant les utilisateurs en se servant des statistiques présentent sur leurs appareils connectés. </p>
					<p>Ukando’it souhaite réussir à créer une communauté autour de ces défis afin d’accentuer toujours plus les challenges et de rendre cette compétition entre utilisateur motivante et amusante.</p>
					<h2>L’équipe</h2>
					<p>Étudiants en licence professionnelle <a href="http://www.iut.u-bordeaux.fr/info/">dawin</a> à l’iut de bordeaux, Ukando’it est une réalisation qui entre dans le cadre de notre formation. </p>
					<p>Sérieux et motivé, notre équipe a essayé de faire de son mieux pour l’aboutissement de ce projet.</p>
				</div>
			</div>
		</section>
		<section class="member_avatar">
			<div class="row">
				<div class="badge_user col s12 m6">
					<img class="media-object dp circle" src="{{asset('bundles/AppBundle/img/Mathilde_Guedon.jpg')}}">
					<div class="member_name">
						<span>Bourdier Stéphane</span>
						<div class="under_text"></div>
					</div>
				</div>
				<div class="badge_user col s12 m6 col_right ">
					<div class="member_name">
						<span>Guédon Mathilde</span>
						<div class="under_text"></div>
					</div>
					<img class="media-object dp circle" src="{{asset('bundles/AppBundle/img/Mathilde_Guedon.jpg')}}">
				</div>
			</div>
			<div class="row">
				<div class="badge_user col s12 m6">
					<img class="media-object dp circle" src="{{asset('bundles/AppBundle/img/Juliette_Riviere.jpg')}}">
					<div class="member_name">
						<span>Rivière Juliette</span>
						<div class="under_text"></div>
					</div>
				</div>
				<div class="badge_user col s12 m6 col_right">
					<div class="member_name">
						<span>Vincent Jérémy</span>
						<div class="under_text"></div>
					</div>
					<img class="media-object dp circle" src="{{asset('bundles/AppBundle/img/Jeremy_Vincent.jpg')}}">
				</div>
			</div>
		</section>
	</div>
{% endblock %}