{% extends "::base.html.twig" %}

{% block description %}
<meta name="description" content="Liste de tous les défis lancés" />
{% endblock %}

{% block body %}
<div class="container home">
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Les défis</h1>
			</div>
		</div>
	</section>
	<section class="defis">
		<div class="row">
			{% for challenge in challenges %}
					{% include 'include/_defis.html.twig' with {'challenge': challenge} %}
			{% endfor %}
		</div>
	</section>
	<div class="loadmore">
		<img class="animated rotateIn infinite" src="{{asset('bundles/AppBundle/img/icon_ukandoit.png')}}" alt="icone ukando'it"/>
	</div>
</div>


{% endblock %}