{% extends "::base.html.twig" %}

{% block body %}
<div class="container sommaire">
	<div class="row titre_page">
	<div class="bloc_rouge"></div>
		<div class="bloc_titre">
			<h1>Accueil</h1>
		</div>
		
	</div>
</div>

{% endblock %}