{% extends "::base.html.twig" %}

{% block body %}
	{% if app.user %}
		<h2>Objets connectés</h2>
	{% endif %}
	<ul>
		{% if app.user %}
			{% for possessedDevice in app.user.possessedDevices %}
				<li>{{ possessedDevice.deviceType }}</li>
			{% endfor %}
		{% endif %}
	</ul>
{% endblock %}
