{% extends "::base.html.twig" %}
{% block body %}

<div class="container home">
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Accueil</h1>
			</div>
		</div>
	</section>
	<section class="defis">
		<div class="row">
			<div class="col s2 offset-s3">
				<a href="#" class="round_tab">
					<i class="large material-icons">query_builder</i>
				</a>
			</div>
			<div class="col s2">
				<a href="#" class="round_tab active">
					<i class="large material-icons">star</i>
				</a>
			</div>
			<div class="col s2">
				<a href="#" class="round_tab">
					<i class="large material-icons">done</i>
				</a>
			</div>
		</div>
		<div class="row">
			  {% include 'include/_defis.html.twig' %}
			  
		</div>
	</section>
	<section class="classement">
		<div class="row">
			<div class="col s1" style="text-align:right">a</div>
			<div class="col s2" style="text-align:center">a</div>
			<div class="col s1"  style="text-align:center">a</div>
			<div class="col s12">
				<img src="{{asset('bundles/AppBundle/img/classement.png')}}"/>
			</div>
		</div>
	</section>
</div>
{% endblock %}

{#	{% if app.user %}
		<h2>Objets connectés</h2>
	{% endif %}
	<ul>
		{% if app.user %}
			{% for possessedDevice in app.user.possessedDevices %}
				<li>
					{% if "Jawbone UP 24" == possessedDevice.deviceType %}
						<a href="{{ path('jawbone_moves', {id: possessedDevice.id}) }}">
					{% else %}
						<a href="{{ path('withings_moves', {id: possessedDevice.id}) }}">
					{% endif %}
					{{ possessedDevice.deviceType }}</a>
				</li>
			{% endfor %}
		{% endif %}
	</ul>
{% endblock %}
#}
