{% extends "::base.html.twig" %}
{% block body %}
	<div class="container center-align mentions_legales">
		<div class="row">

			<section class="titre_page">
				<div class="row">
					<div class="bloc_rouge"></div>
					<div class="bloc_titre">
						<h1>Mentions Légales</h1>
					</div>
				</div>
			</section>

			<div class="col s12 m8 offset-m2">
				<div class="mention-content">
					<h2><b>PROPRIÉTAIRE DU SITE</b></h2>
					<p>IUT de Bordeaux</p>
					<p>15 rue Naudet</p>
					<p>33175 Gradignan Cedex</p>
					<p>Tél. +33 (0)5 56 84 57 57</p>
					<p>Courriel : secretariat-info@iut.u-bordeaux.fr</p>
					<p>
						<a href="http://www.iut.u-bordeaux.fr" target="_blank">Site web</a>
					</p>
				</div>
				<div class="mention-content">
					<h2><b>CRÉDITS</b></h2>
					<p>Conception par GUEDON Mathilde, BOURDIER Stéphane, VINCENT Jérémy, RIVIERE Juliette.</p>
					<p>Design par RIVIERE Juliette & BOURDIER Stéphane.</p>
					<p>Nous vous invitons à prendre connaissance des mentions légales liées à l'utilisation du site internet.</p>
				</div>
				<div class="mention-content">
					<h2><b>DROITS D'AUTEUR</b></h2>
					<p>
						Le présent site constitue une œuvre de l'esprit au sens des dispositions des articles L 111-1 et suivants du Code de la Propriété Intellectuelle et, à ce titre, l'IUT de Bordeaux bénéficie en sa qualité d'auteur d'une protection et des droits réservés par la loi. Les photographies, textes, slogans, noms commerciaux, dessins, images, logos, vidéos, séquences animées sonores ou non ainsi que toutes œuvres intégrées dans le site sont également, sauf mention contraire, la propriété de l'IUT de Bordeaux. A ce titre l'IUT de Bordeaux ne concède aucune de ses licences ni aucun autre droit que celui de consulter le site. Les noms et marques citées, mais non propriétés de l'IUT de Bordeaux, sont copyright de leurs auteurs respectifs.
					</p>
				</div>
				<div class="mention-content">
					<h2><b>CONDITIONS D'UTILISATION</b></h2>
					<p>
						L'utilisation de ce service est réservée à un usage strictement personnel et privé. Toute reproduction ou représentation partielle ou totale à d'autres fins sur un quelconque support est interdite, sauf autorisation expresse et préalable de l'IUT de Bordeaux en sa qualité d'auteur. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur à l'encontre duquel l'IUT de Bordeaux se réserve la possibilité de réclamer l'indemnisation de son entier préjudice.
					</p>
				</div>
				<div class="mention-content">
					<h2><b>REMARQUES</b></h2>
					<p>
						Ce site internet permet un accès aux données de l'IUT de Bordeaux dans son ensemble. Les données qui y sont publiées sont fournies à titre d'information et ne sont en aucun cas contractuelles, ainsi ces données peuvent inclure des références à des techniques utilisés par l'IUT de Bordeaux. Malgré tout le soin apporté à la rédaction de ce site, l'IUT de Bordeaux ne peut pas garantir que le site soit exempt d'inexactitude, d'erreur, d'omission, de dysfonctionnement ou d'indisponibilité. l'IUT de Bordeauxe peut, à tout moment et sans préavis, apporter des améliorations ou des changements aux services décrits sur ce site.
					</p>
				</div>
				<div class="mention-content last">
					<h2><b>Google Analytics</b></h2>
					<p>
						Ce site utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc. Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l'utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux états-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation du site, de compiler des rapports sur l'activité du site à destination de son éditeur et de fournir d'autres services relatifs à l'activité du site et à l'utilisation d'Internet. Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l'éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus. Si vous ne souhaitez pas que l'un de ces services collecte des données concernant votre accès au site Internet d'Abonnement-xbox-live, vous pouvez désactiver l'utilisation de cookies et/ou l'exécution de JavaScript en sélectionnant les paramètres appropriés de votre navigateur.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}